<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (blockuser(); as blockuserRef) {
      <div>
        <h2 data-cy="blockuserDetailsHeading"><span jhiTranslate="opencodetestApp.blockuser.detail.title">Blockuser</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ blockuserRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="opencodetestApp.blockuser.creationDate">Creation Date</span></dt>
          <dd>
            <span>{{ blockuserRef.creationDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="opencodetestApp.blockuser.blockeduser">Blockeduser</span></dt>
          <dd>
            @if (blockuser()!.blockeduser) {
              <div>
                <a [routerLink]="['/appuser', blockuser()!.blockeduser?.id, 'view']">{{ blockuserRef.blockeduser?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="opencodetestApp.blockuser.blockinguser">Blockinguser</span></dt>
          <dd>
            @if (blockuser()!.blockinguser) {
              <div>
                <a [routerLink]="['/appuser', blockuser()!.blockinguser?.id, 'view']">{{ blockuserRef.blockinguser?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="opencodetestApp.blockuser.cblockeduser">Cblockeduser</span></dt>
          <dd>
            @if (blockuser()!.cblockeduser) {
              <div>
                <a [routerLink]="['/community', blockuser()!.cblockeduser?.id, 'view']">{{ blockuserRef.cblockeduser?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="opencodetestApp.blockuser.cblockinguser">Cblockinguser</span></dt>
          <dd>
            @if (blockuser()!.cblockinguser) {
              <div>
                <a [routerLink]="['/community', blockuser()!.cblockinguser?.id, 'view']">{{ blockuserRef.cblockinguser?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/blockuser', blockuserRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
