<div>
  <h2 id="page-heading" data-cy="FollowHeading">
    <span jhiTranslate="opencodetestApp.follow.home.title">Follows</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="opencodetestApp.follow.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-follow"
        [routerLink]="['/follow/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="opencodetestApp.follow.home.createLabel">Crear nuevo Follow</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <jhi-filter [filters]="filters" />

  @if (follows().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="opencodetestApp.follow.home.notFound">Ningún Follows encontrado</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="creationDate">
              <div class="d-flex">
                <span jhiTranslate="opencodetestApp.follow.creationDate">Creation Date</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="followed.id">
              <div class="d-flex">
                <span jhiTranslate="opencodetestApp.follow.followed">Followed</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="following.id">
              <div class="d-flex">
                <span jhiTranslate="opencodetestApp.follow.following">Following</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="cfollowed.id">
              <div class="d-flex">
                <span jhiTranslate="opencodetestApp.follow.cfollowed">Cfollowed</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="cfollowing.id">
              <div class="d-flex">
                <span jhiTranslate="opencodetestApp.follow.cfollowing">Cfollowing</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (follow of follows(); track trackId(follow)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/follow', follow.id, 'view']">{{ follow.id }}</a>
              </td>
              <td>{{ follow.creationDate | formatMediumDatetime }}</td>
              <td>
                @if (follow.followed) {
                  <div>
                    <a [routerLink]="['/appuser', follow.followed.id, 'view']">{{ follow.followed.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (follow.following) {
                  <div>
                    <a [routerLink]="['/appuser', follow.following.id, 'view']">{{ follow.following.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (follow.cfollowed) {
                  <div>
                    <a [routerLink]="['/community', follow.cfollowed.id, 'view']">{{ follow.cfollowed.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (follow.cfollowing) {
                  <div>
                    <a [routerLink]="['/community', follow.cfollowing.id, 'view']">{{ follow.cfollowing.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/follow', follow.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
                  </a>

                  <a [routerLink]="['/follow', follow.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(follow)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (follows().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
