<div>
  <h2 id="page-heading" data-cy="AppphotoHeading">
    <span jhiTranslate="opencodetestApp.appphoto.home.title">Appphotos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="opencodetestApp.appphoto.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-appphoto"
        [routerLink]="['/appphoto/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="opencodetestApp.appphoto.home.createLabel">Crear nuevo Appphoto</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <jhi-filter [filters]="filters" />

  @if (appphotos().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="opencodetestApp.appphoto.home.notFound">Ningún Appphotos encontrado</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="creationDate">
              <div class="d-flex">
                <span jhiTranslate="opencodetestApp.appphoto.creationDate">Creation Date</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="image">
              <div class="d-flex">
                <span jhiTranslate="opencodetestApp.appphoto.image">Image</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="appuser.id">
              <div class="d-flex">
                <span jhiTranslate="opencodetestApp.appphoto.appuser">Appuser</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (appphoto of appphotos(); track trackId(appphoto)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/appphoto', appphoto.id, 'view']">{{ appphoto.id }}</a>
              </td>
              <td>{{ appphoto.creationDate | formatMediumDatetime }}</td>
              <td>
                @if (appphoto.image) {
                  <a (click)="openFile(appphoto.image, appphoto.imageContentType)">
                    <img
                      [src]="'data:' + appphoto.imageContentType + ';base64,' + appphoto.image"
                      style="max-height: 30px"
                      alt="appphoto"
                    />
                  </a>
                  <span>{{ appphoto.imageContentType }}, {{ byteSize(appphoto.image) }}</span>
                }
              </td>
              <td>
                @if (appphoto.appuser) {
                  <div>
                    <a [routerLink]="['/appuser', appphoto.appuser.id, 'view']">{{ appphoto.appuser.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/appphoto', appphoto.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
                  </a>

                  <a [routerLink]="['/appphoto', appphoto.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(appphoto)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (appphotos().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
